@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300,    400;500,600,700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--very-dark-blue);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    padding: 5rem 1rem;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: linear-gradient(hsl(213, 19%, 18%, 70%), hsl(213, 19%, 18%, 50%));
    border-radius: 25px;
    width: 400px;
    height: 430px;
    padding: 2rem;
}

.container img {
    background-color: var(--dark-blue);
    border-radius: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
}

.container h1 {
    color: var(--white);
    font-weight: 400;
    margin-bottom: 1rem;
}

.container p {
    color: var(--light-grey);
    margin-bottom: 2rem;
}

.container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container div button {
    background-color: var(--dark-blue);
    border: none;
    border-radius: 100%;
    color: var(--medium-grey);
    font-weight: 700;
    padding: 1rem 1.2rem;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.container div button:hover {
    background-color: var(--light-grey);
    color: var(--white);
    cursor: pointer;
}

.container div button:active {
    background-color: var(--orange);
}

.submit-btn {
    color: var(--white);
    background-color: var(--orange);
    border: none;
    border-radius: 25px;
    font-weight: 700;
    padding: 1rem;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.3s;
    margin-bottom: 1rem;
}

.submit-btn:hover {
    background-color: var(--white);
    color: var(--orange);
    cursor: pointer;
}

.container-ty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(hsl(213, 19%, 18%, 70%), hsl(213, 19%, 18%, 50%));
    border-radius: 25px;
    text-align: center;
    width: 400px;
    height: 430px;
    padding: 2rem;
    display: none;
}

.container-ty img {
    margin-bottom: 1.5rem;
}

.container-ty .rating {
    background-color: var(--dark-blue);
    border-radius: 25px;
    color: hsl(25, 97%, 53%, 80%);
    margin-bottom: 1.5rem;
    padding: .5rem;
}

.container-ty h1 {
    color: var(--white);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.container-ty :last-child {
    color: var(--light-grey);
}

.none {
    display: none;
}

.attribution {
    margin-top: 3rem;
    color: var(--light-grey);
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}